.button_type_delete {
    width: 18px;
<<<<<<< HEAD
    height: 21px;
    background-image: url(../../../images/Trash.svg);
    border: none;
    background-color: transparent;
    margin: 16px 0 0 249px;
    padding: 0;
    position: absolute;
=======
    height: 19px;
    background-image: url(../../../images/Trash.svg);
    border: none;
    background-color: transparent;
    position: absolute;
    margin: 19px 0 0 249px;
>>>>>>> develop
}
